* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #272727;
  --text-color: rgb(61, 61, 61);
  --main-color1: #f535aa;
  --main-color2: #04d9ff;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bg-color);
  color: var(--text-color) ;
}

body {
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 4rem !important;
  background-color: rgba(33, 33, 33, 0.3); 
  align-items: center;
  justify-content: space-between; /* Adjusted alignment */
  border: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 1000;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.03), 0 0 10px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(4rem) !important;
}

.navbar-nav {
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.navbar-nav .nav-item {
  margin: 10px 0; /* Adjusted margin */
}

@media (max-width: 768px) {
  .header {
    height: auto;
    background-color: transparent !important; /* Make background transparent on mobile */
    backdrop-filter: blur(10px) !important; /* Add blur effect on mobile */
  }

  .navbar-nav {
    margin-top: 0;
    backdrop-filter: blur(4rem); 
  background-color: rgba(33, 33, 33, 0.3) !important; 
  }
}

@media (min-width: 640px) {
  .header {
    top: 2rem;
    height: 3.25rem;
    width: 36rem;
    border-radius: 2.25rem;
  }
}


.navbar-nav .nav-item .nav-link {
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
  align-self: center !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--main-color1) !important;
  border-bottom: var(--main-color2);
}

.navbar-nav .nav-item .nav-link {
  color: inherit;
}

.navbar-nav .nav-item:first-child .nav-link {
  color: var(--main-color1) !important;
}

.navbar-nav .nav-item:first-child .nav-link:hover {
  color: var(--main-color2) !important;
}

section {
  min-height: 100vh;
  padding-right: 5%; 
  padding-left: 5%;
}

.home-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start; 
  text-align: left !important;
  justify-content: center;
  margin-top: 3rem;
  max-width: 50%; 
}

span {
  color: var(--main-color2);
}

.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15rem;
}

.home-content {
  max-width: 50%;
  margin-right: 20% !important;
}

.home-img img {
  width: 110%;
  max-width: 1100px; 
  border-radius: 50%;
  translate: -70px 30px;
  box-shadow: 0 0 25px var(--main-color1);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color2), 0 0 50px var(--main-color1), 0 0 100px var(--main-color1);
}

.home-content p {
  flex: 1;
  max-width: 100% !important;
  line-height: 30px !important;
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.0;
  max-width: 1000px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: 2px solid var(--main-color2);
  color: var(--main-color1);
  margin: 3rem 1.5rem 3rem 0;
  border-radius: 50%; /* Making the icons round */
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--main-color1);
  transition: scale(1.3) translate(-5px);
  box-shadow: 0 0 25px var(--main-color2);
  background-color: var(--main-color1);
}

.custom-btn{
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color2);
  box-shadow: 0 0 25px var(--main-color1);
  border-radius: 4rem;
  font-size: 1.3rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 550;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.custom-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color2);
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color1);
  border: 2px solid var(--main-color2);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover{
  box-shadow: 0 0 25px var(--main-color2);
  background-color: var(--main-color1);
  color: black;
}

.text-animator {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.text-animator span{
  position: relative;
}

.text-animator span::before{
  content: "Web Developer";
  color: var(--main-color1);
  animation: words 20s infinite;
}

.text-animator span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 60px;
  top: 50%;
  transform: translateY(18%);
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
    border-left: 2px solid var(--main-color2);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Frontend Designer";
  }
  21%,
  40% {
    content: "Web Designer";
  }
  41%,
  60% {
    content: "Figma Designer";
  }
  61%,
  80% {
    content: "Ux / Ui Designer";
  }
  81%,
  100% {
    content: "Software Engineer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95%{
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%,
  100%{
    width: calc(100% + 90px);
  }
}


/* Adjustments for mobile view */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
  }

  .home-content {
    order: 2; /* Move content below the image */
    max-width: 100%;
    margin-left: 20%;
    margin-right: 0;
    margin-top: -40%;
    text-align: center;
    align-items: center;
  }

  .home-img {
    order: 1; /* Move image above the content */
    margin-top: 10rem; 
  }

  .home-img img {
    width: 80%;
    max-width: 300px;
  }
}

