* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color1: #f535aa;
  --main-color2: #04d9ff;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 14%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.logo span {
  text-shadow: 0 0 25px var(--main-color2);
}

.navbar-nav .nav-item .nav-link {
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--main-color1) !important;
  border-bottom: var(--main-color2);
}

.navbar-nav .nav-item .nav-link {
  color: inherit;
}

.navbar-nav .nav-item:last-child .nav-link {
  color: var(--main-color1) !important;
}

.navbar-nav .nav-item:last-child .nav-link:hover {
  color: var(--main-color2) !important;
}

section {
  min-height: 100vh;
  padding-right: 5%; 
  padding-left: 5%;
}

.home-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start; 
  text-align: left !important;
  justify-content: center;
  margin-top: 3rem;
  max-width: 50%; 
}

span {
  color: var(--main-color2);
}

.logo span {
  color: var(--main-color2);
}

.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15rem;
}

.home-content {
  max-width: 50%;
  margin-right: 20% !important;
}

.home-img img {
  width: 110%;
  max-width: 1100px; 
  border-radius: 50%;
  translate: -70px 30px;
  box-shadow: 0 0 25px var(--main-color1);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color2), 0 0 50px var(--main-color1), 0 0 100px var(--main-color1);
}

.home-content p {
  flex: 1;
  max-width: 10%;
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.0;
  max-width: 1000px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: 2px solid var(--main-color2);
  color: var(--main-color1);
  margin: 3rem 1.5rem 3rem 0;
  border-radius: 50%; /* Making the icons round */
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--main-color1);
  transition: scale(1.3) translate(-5px);
  box-shadow: 0 0 25px var(--main-color2);
  background-color: var(--main-color1);
}

.btn {
  display: inline-block;
  padding: 1rem;
  background: var(--main-color2);
  box-shadow: 0 0 25px var(--main-color1);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color2);
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color1);
  border: 2px solid var(--main-color2);
  box-shadow: 0 0 25px transparent;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color1);
  animation: words 20s infinite;
}

.text-animation span::before {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
