* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #272727;
  --text-color: rgb(61, 61, 61);
  --main-color1: #f535aa;
  --main-color2: #04d9ff;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bg-color);
  color: var(--text-color) ;
}

body {
  background: var(--bg-color) !important;
  color: var(--text-color) !important; 
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
@media only screen and (max-width: 768px) {
  body {
    margin: 2rem;/* Resetting body margin */
    padding: 0; /* Resetting body padding */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  .container {
    margin: 0 auto; 
    padding: 0 15px; 
  }

  /* Adjusting specific sections */
  .home {
    padding: 0 15px; 
  }

  .education,
  .project1,
  .skills,
  .contact {
    padding: 0 15px; 
    margin-bottom: 3rem; 
  }
  .custom-btn {
    /* Other button styles */
    max-width: 100%; 
    display: block; 
    margin: 0 auto; 
  }
  
  .btn-group {
    /* Other styles */
    flex-direction: column; 
    align-items: center; 
  }

  .home-img {
    text-align: center;
  }
  
  .home-img img {
    width: 80%; 
    max-width: 300px;
    display: block; 
    margin: auto; 
  }
}


.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50px;
  background: rgba(33, 33, 33, 0.3); 
  align-items: center;
  justify-content: space-between; /* Adjusted alignment */
  border: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 1000;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.03), 0 0 10px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(10px);
}

.navbar-nav {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.nav-item{
  padding-right: 18px;
  padding-left: 8px;
}

@media (max-width: 768px) {
  .header {
    height: auto;
    background-color: rgba(33, 33, 33, 0.3)t !important; 
    backdrop-filter: blur(10px) !important; /* Add blur effect on mobile */
  }

  .navbar-nav {
    backdrop-filter: blur(10px); 
  background-color: rgba(33, 33, 33, 0.3) !important; 
  }

  .navbar-nav .nav-item {
    margin-top: 15px;
    width: auto;
  }

  .navbar-nav :hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
}

@media (min-width: 640px) {
  .header {
    top: 2rem;
    height: 3.25rem;
    width: auto;
    border-radius: 2.25rem;
  }
}


.navbar-nav .nav-item .nav-link {
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
  align-self: center !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--main-color1) !important;
  border-bottom: var(--main-color2);
}

.navbar-nav .nav-item .nav-link {
  color: inherit;
}

.navbar-nav .nav-item:first-child .nav-link {
  color: var(--main-color1) !important;
}

.navbar-nav .nav-item:first-child .nav-link:hover {
  color: var(--main-color2) !important;
}

section {
  min-height: 100vh;
  padding-right: 5%; 
  padding-left: 5%;
}

.home-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start; 
  text-align: left !important;
  justify-content: center;
  margin-top: 3rem;
  max-width: 50%; 
}

span {
  color: var(--main-color2);
}

.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15rem;
}

.home-content {
  max-width: 50%;
  margin-right: 20% !important;
}

.home-img img {
  width: 110%;
  max-width: 1100px; 
  border-radius: 50%;
  translate: -70px 30px;
  box-shadow: 0 0 25px var(--main-color1);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color2), 0 0 50px var(--main-color1), 0 0 100px var(--main-color1);
}

.home-content p {
  flex: 1;
  max-width: 100% !important;
  line-height: 30px !important;
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.0;
  max-width: 1000px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: 2px solid var(--main-color2);
  color: var(--main-color1);
  margin: 3rem 1.5rem 3rem 0;
  border-radius: 50%; /* Making the icons round */
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--main-color1);
  transition: scale(1.3) translate(-5px);
  box-shadow: 0 0 25px var(--main-color2);
  background-color: var(--main-color1);
}

.custom-btn{
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color2);
  box-shadow: 0 0 25px var(--main-color1);
  border-radius: 4rem;
  font-size: 1.3rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 550;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.custom-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color2);
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color1);
  border: 2px solid var(--main-color2);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover{
  box-shadow: 0 0 25px var(--main-color2);
  background-color: var(--main-color1);
  color: black;
}

.text-animator {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.text-animator span{
  position: relative;
}

.text-animator span::before{
  content: "Web Developer";
  color: var(--main-color1);
  animation: words 20s infinite;
}

.text-animator span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 60px;
  top: 50%;
  transform: translateY(18%);
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
    border-left: 2px solid var(--main-color2);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Frontend Designer";
  }
  21%,
  40% {
    content: "Web Designer";
  }
  41%,
  60% {
    content: "Figma Designer";
  }
  61%,
  80% {
    content: "Ux / Ui Designer";
  }
  81%,
  100% {
    content: "Software Engineer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95%{
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%,
  100%{
    width: calc(100% + 90px);
  }
}


/* Adjustments for mobile view */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
  }

  .home-content {
    order: 2; /* Move content below the image */
    max-width: 100%;
    margin-left: 20%;
    margin-right: 0;
    margin-top: -40%;
    text-align: center;
    align-items: center;
  }

  .home-img {
    order: 1; /* Move image above the content */
    margin-top: 10rem; 
  }

  .home-img img {
    width: 80%;
    max-width: 300px;
  }
}

.heading{
  font-size: 8rem;
  background: linear-gradient(to bottom, #171616, #b5b5b5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  text-align: center;
  margin: 5rem 0;
}

@media (max-width: 700px) {
  .heading {
    font-size: 4rem;
  }
}

.education{
  padding: 50px 15px;
}

.education h2{
  margin-bottom: 5rem;
}

.timeline-items {
  max-width: 90%; /* Adjusted maximum width for responsiveness */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color1);
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 2rem; /* Adjusted margin for spacing */
  width: 100%;
  position: relative;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

@media (max-width: 768px) {
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-right: 20px; /* Adjusted padding for smaller screens */
    padding-left: 20px; /* Adjusted padding for smaller screens */
    text-align: left;
  }
}


.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: var(--main-color2);
  box-shadow: 0 0 25px var(--main-color1),
              0 0 50px var(--main-color2);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;           
}

.timeline-data{
  font-size: 20px;
  font-weight: 800;
  color: aliceblue;
  margin: 6px 0 15px;
}

.timeline-content{
  background-color: var(--bg-color);
  border: 3px solid var(--main-color2);
  padding: 30px 50px ;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color1);
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

.timeline-content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color1);
}

.timeline-content p{
  color: white;
}

::-webkit-scrollbar-thumb{
  background-color: var(--main-color2);
}

::-webkit-scrollbar-track{
  background-color: var(--bg-color);
  width: 50px;
}

.separator {
  border: 1px solid white; 
  margin: 50px auto; 
  width: 80%; 
}

.project{
  margin-top: 100px;
}

/* projects */
.project {
  margin: 0 auto; /* Center the project section horizontally */
  max-width: 1200px; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eee;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 0 20px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .project {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 576px) {
  .project {
    grid-template-columns: 1fr;
  }
}

.nft{
  max-width: 300px;
  user-select:none;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ffffff22;
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  height: 530px;
}

.nft hr{
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}

.nft .main{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}

.tokenImage{
  margin-top: 10px;
}

.nft .main .tokenImage{
  border-radius: .5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 30px;
}

.nft .main .description{
  margin: .5rem 0;
  color: #a89ec9;
}

.nft .main .creator{
  display: flex;
  align-items: center;
  margin-top: .2rem;
  margin-bottom: -.3rem;
}

.nft .main .creator ins{
  color: #a89ec9;
  text-decoration: none;
}

.nft .main .creator .wrapper{
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: .3rem;
  margin: 0;
  margin-right: .5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}

.nft .main .creator .wrapper img{
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}

.nft::before{
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: .7s all;
}

.nft:hover{
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.nft:hover::before{
  filter: brightness(.5);
  top: -100%;
  left: 200%;
}


.project1{
  margin: 0;
  padding: 0;

}

/* skill */

.skill-container {
  display: grid;
  font-size: 1.2rem;
  margin-right: 9rem;
  margin-left: 9rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
}

.skill-item {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 0.5rem;
  opacity: 1;
  transform: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.skill-item:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.contact-text{
  color: #eee;
  text-align: center;
  font-size: 1rem;
}

@keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  0%{
    opacity: 0;
  }
}

p,
h1,
.timeline-item,
.nft,
.skill-item,
.heading{
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}